<div style="margin-left: 5px;">&nbsp;</div>
<div style="margin-left: 5px; text-align: center;">
<title>LISTA ANIMADA</title>
<style type="text/css">
/* From Uiverse.io by zjssun */ 
button {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  text-shadow: none;
  background: #564C4D;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

#btn:hover,
:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}