body {
	
   margin-bottom: 0;
   margin-left: 0;
   margin-right: 0;
   margin-top: 0;
	overflow: visible;
              padding: 0;
}

canvas {
	background-image: radial-gradient(#000000, #000000);
}

#instructions {
	position: absolute;
	color: #fff;
	bottom: 0;
	padding: 0px 0px 0px 0;
	font-family: sans-serif;
	width: 100%;
	text-align: center;
	pointer-events: none;
}